body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

header{
    background-color: black;
    display: flex;
    text-align: center;
}
header img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
header h1{
    font-size: 40px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    background-color: black;
    padding: 25px;
    text-align: center;
}
footer p{
    color: white;
    
}
footer a{
    color: red;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

h2 {
    font-size: 36px;
    margin-bottom: 12px;
    text-align:center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.weapon-button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.clicked {
    background-color: red;
}
select{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selection-container{
    margin-bottom: 50px;
}
#current-level, #desired-level{
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}


.cost-container, .selection-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
}
.img-column{
    display: flex;
    flex-direction: column;
}
main img{
    width: 50px;
    height: 50px;
}

.column1{
    flex:2;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.column2{
    flex:1;
    display: flex;
    flex-direction: column;
}
.column1 h3 {
    margin: 0;
    
}

.column2 p {
    margin: 0;
    line-height: 50px;
}

